<!DOCTYPE html>
<html lang="en" data-theme="dark">
<%-include("../../includes/head", {page_title: "admin tools"}) %>
<script src="/scripts/image-preview.js" defer></script>
<body>
    <%-include("../../includes/header") %>
    <main class="container">
        <article class="card">
            <h1>Update product</h1>
            <form action="/admin/products/<%=product._id %>?_csrf=<%=locals.csrfToken %>" method="POST" id="products-update-form" enctype="multipart/form-data">
                <input type="hidden" value="<%= locals.csrfToken %>" name="_csrf">
                <div class="form-control">
                    <label for="name">Product name</label>
                    <input type="text" name="name" id="name" placeholder="Product name" value="<%=product.name %>" required>
                </div>
                <div class="form-control-image">
                    <label for="price">Change product image (optional)</label>
                    <input type="file" name="image" id="image" placeholder="Product image">
                    <img id="preview-image" src="<%=product.imageFileSrc %>" alt="image preview" >
                </div>
                <div class="form-control grid">
                    <label for="price">
                        Product price
                        <input type="number" name="price" id="price" min="0.00" step="1" placeholder="Product price" value="<%=product.price %>" required>
                    </label>
                    <label>
                        <input type="hidden">
                    </label>
                </div>
                <div class="form-control">
                    <label for="description">Product description</label>
                    <textarea rows="10" name="description" id="description" placeholder="Product description" required><%=product.description %></textarea>
                </div>
                <br>
                <button type="reset" class="secondary outline">Undo</button>
                <div class="grid">
                    <button type="button" onclick="window.location.href='/admin/products'" class="secondary">Cancel</button>
                    <button type="submit" class="button" id="submit-btn">Confirm</button>
                </div>
                <div>
                </div>
            </form>
        </article>
    </main>
    <%-include("../../includes/footer") %>
</body>
</html>